<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Cursos</title>
</head>
<body>
    <h1>Gestión de Cursos</h1>

    <!-- Formulario para agregar o editar un curso -->
    <form th:action="@{/curso/guardarCurso}" th:object="${curso}" method="post">
        <input type="hidden" th:field="*{idCurso}"/>
        <div class="form-group">
            <label for="nombre">Nombre del Curso:</label>
            <input type="text" id="nombre" th:field="*{nombre}" required/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn">Guardar</button>
        </div>
    </form>

    <h2>Lista de Cursos</h2>
    <table class="neon-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre del Curso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="curso : ${cursos}">
                <td th:text="${curso.idCurso}"></td>
                <td th:text="${curso.nombre}"></td>
                <td>
                    <a class="action-btn" th:href="@{/curso/editar/{idCurso}(idCurso=${curso.idCurso})}">Editar</a> |
                    <a class="action-btn delete" th:href="@{/curso/delete/{idCurso}(idCurso=${curso.idCurso})}" onclick="return confirm('¿Estás seguro de que quieres eliminar este curso?');">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/"> 
        <button type="button" >Volver</button>
</body>
</html>
